{% extends 'layout.html' %}
{% block content %}
<div class="page-header">
    <h2 class="display-4">All Users</h2>
</div>
<br/>

    {% if users|length == 0 %}
        <h4>No users yet.</h4>
    {% endif %}

    <div class="card-columns">
        {% for user in users %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title" style="text-transform:capitalize;">
                        {{ user.first_name + " " + user.last_name }}
                    </h2>
                    <p></p>
                    <p class="card-text">
                    <div class="row">
                        <div class="col">
                            <h5>ID</h5>{{ user.user_id }}
                        </div>
                        <div class="col">
                            <h5>Email</h5>{{ user.email }}
                        </div>
                    </div>
                    <p></p>
                    <button id="myBtn" class="btn btn-primary">Change Password</button>
                    <a href="{{ url_for('all_users.deleteuser', user_id = user.user_id)}}" class="btn btn-dark">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}