<!DOCTYPE html>
<html>
    <title>Change Password</title>
</html>
<body style="overflow: hidden;">
    <div id="changepwd">
        <form action="#" id="changeform" method="POST">
            <h2>Change Password</h2>
            <hr>
                <input id="newpassword" placeholder="New Password" type="password">
                <input id="confirmpassword" placeholder="Confirm Password" type="password">
                <a href="#" class='btn btn-primary'>Submit</a>
        </form>
    </div>
    <script>
        //Function To Display Popup
        function div_show() {
        document.getElementById('changepwd').style.display = "block";
        }
        //Function to Hide Popup
        function div_hide(){
        document.getElementById('changepwd').style.display = "none";
        }
    </script>
</body>