{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Lost-Found & Sell-Buy</h1>
        <p class="lead">If you happen to have lost something we'll find it for ya. Also U can shop here too or even sell something for a great price!</p>
        <div class="my-5">
            <a class="btn btn{% if not session['theme'] or session['theme'] == 'litera' %}-outline{% endif %}-primary btn-lg" href="{{ url_for('user.register') }}" role="button">Signup</a>
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn{% if not session['theme'] or session['theme'] == 'litera' %}-outline{% endif %}-primary btn-lg" href="{{ url_for('user.login') }}" role="button">Login</a>
        </div>
    </div>

{% endblock %}
