{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Some catchy content!</h1>
        <p class="lead">Some more catchy content goes here.......</p>
        <div class="my-5">
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Signup</a>
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        </div>
    </div>

{% endblock %}