{% extends "layout.html" %}
{% block content %}

<h1>{{ _('Messages') }}</h1>
    {% for msg in messages %}
        <table>
            <tr valign="top">
{#                <td><h3>{{ Users.query.filter_by(user_id=msg.sender_id).first_or_404() }}</h3></td>#}
                <td><h3>{{ msg.sender_id }}</h3></td>
                <td><h3>{{ msg.body }}</h3></td>
{#                <td><a href="{{ url_for('send_message', recipient=msg.sender_id) }}">Reply</a></td>#}
            </tr>
        </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer messages') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older messages') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}