{% extends "layout.html" %}
{% block content %}
<h2>New User Registration</h2>
<br>
<div class="container">
    <form name="registerform" method="GET">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="firstname" required>
        <br>
        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastname">
        <br>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br class="clear">
        <input class="btn-submit" type="submit" name="submit">
    </form>
</div>
{% endblock %}