{#{% extends "layout.html" %}#}
{% from "_form_macros.html" import render_field %}

{#{% block content %}#}

<div class="user-profile">
  <div class="page-header">
    <h2>Password Change</h2>
  </div>

  <h3>Please enter your New Password:</h3>
  <form action="{{ url_for('user_password_change') }}" method="POST">
  {{ form.csrf_token }}
    <dl>
      {{ form.password(placeholder="Enter new password") }}
    </dl>
    <dl>
      {{ form.confirmPassword(placeholder="confirm new password") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Update</button>
  </form>
</div>

{#{% endblock %}#}