{#{% extends "layout.html" %}#}
{% from "_form_macros.html" import render_field %}

{#{% block content %}#}

<div class="user-profile">
  <div class="page-header">
    <h2>Name Change</h2>
  </div>

  <h3>Name: {{ current_user.first_name + " " + current_user.last_name }}</h3>
  <h3>Please enter your First name:</h3>
  <form action="{{ url_for('update_name') }}" method="POST">
  {{ form.csrf_token }}
    <dl>
      {{ form.first_name(placeholder="Enter First Name") }}
    </dl>
    <h3>Please enter your Last name:</h3>
    <dl>
      {{ form.last_name(placeholder="Enter Last Name") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Update</button>
  </form>
</div>

{#{% endblock %}#}