{% extends "layout.html" %}
{% block content %}
    <div class="col-lg-6">
        <div class="page-header "><h1 class="display-4"> Upload an Item </h1>
            <hr class="my-4"/>
        </div>
        <form name="uploadform" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="type" id="lost" value="lost" autocomplete="off" checked=""> Lost
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="type" value="found" id="found" autocomplete="off"> Found
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="type" value="buy" id="buy" autocomplete="off"> Buy
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="type" value="sell" id="sell" autocomplete="off"> Sell
                    </label>
                </div>
            </div>

            <div id="date-time-picker">
                <div class="form-group row">
                    <div class="col">
                        <label for="input-date">Date</label>
                        <input class="form-control" name="date" type="date" value="{{ date }}" id="input-date">
                    </div>
                    <div class="col">
                        <label for="input-time">Time</label>
                        <input class="form-control" name="time" type="time" value="{{ time }}" id="input-time">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">Choose an Image</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="location">Location</label>
                    </div>
                    <select class="custom-select" id="location" name="location" required>
                        {% for location in locations %}
                            <option value="{{ location }}" {% if loop.last %} selected="" {% endif %}>{{ location }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="loading-description" class="text-center m-lg-5">
                <div class="spinner-grow text-primary">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="description-and-submit">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Object Description</span>
                        </div>
                        <textarea id="item-description" class="form-control" name="description"
                                  aria-label="Description"></textarea>
                    </div>
                </div>

                <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}