{#% extends "layout.html" %}#}
{% from "_form_macros.html" import render_field %}
{#{% block content %}#}

<div class="user-profile">
  <div class="page-header">
    <h2>User Profile</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Email Address</div>
        <div class="panel-body">{{current_user.email}}</div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Account Actions</div>
        <div class="panel-body"><a href="{{ url_for('update_name') }}">Change Name</a></div>
        <div class="panel-body"><a href="{{ url_for('user_password_change') }}">Change Password</a></div>
      </div>

    </div>
  </div>
</div>

{#{% endblock %}#}