.navbar-brand {
    display: inline-block;
    margin: 0 200px 0 10px;
    width: 32px;
    font-size: x-large;
}

.nav-link {
    font-size: larger;
}

.lf-logo {
    animation-name: spin;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.small-card {
    max-width: 50rem;
}

.item-card:hover {
    cursor: pointer;
}

.custom-nav-item > a {
    color: var(--secondary);
}

.custom-nav-item > a.active {
    color: var(--primary);
}

.adminpwd{
    margin: 10px;
}

.adminsub{
    text-align: center;
}

.admindiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#admincheckbox{
    width: 25px;
    margin: 10px;
}

#createuserbtn{
    right: 0;
    position: absolute;    
    margin-right: 25rem;
}

.adminuserpage{
    display: flex;
    align-items: center;
}