<header>
    <nav class="navbar navbar-expand-lg fixed-top
        {% if not session['theme'] or session['theme'] == 'litera' %} navbar-light bg-light {% else %} navbar-dark bg-primary {% endif %}">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home.index') }}">
                {% if not session['theme'] or session['theme'] == 'litera' %}
                    <img src="{{ url_for('static', filename='images/LF-dark.svg') }}"
                         class="lf-logo d-inline-block align-top"
                         alt="">
                {% else %}
                    <img src="{{ url_for('static', filename='images/LF.svg') }}"
                         class="lf-logo d-inline-block align-top"
                         alt="">
                {% endif %}

                &nbsp; Lost & Found
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item {% if uploaditem %} active {% endif %}">
                            <a href="{{ url_for('upload_item.uploaditem') }}" class="nav-link">Upload Item</a>
                        </li>
                        <li class="nav-item {% if myitems %} active {% endif %}">
                            <a href="{{ url_for('my_items.myitems') }}" class="nav-link">My Items</a>
                        </li>
                    {% endif %}

                    {% if current_user.isadmin == true %}

                        <li class="nav-item dropdown {% if admin %} active {% endif %}">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('all_items.allitems') }}">Manage All Items</a>
                                <a class="dropdown-item" href="{{ url_for('all_users.allusers') }}">Manage All Users</a>
                            </div>
                        </li>

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {% if top_users %} active {% endif %}" href="{{ url_for('top_users.top_users_page') }}">Top Users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span
                                class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <form id="litera-form" action="/switch_theme/litera" method="post">
                                <a href="#" onclick="document.getElementById('litera-form').submit();"
                                   class="dropdown-item">Litera</a>
                            </form>
                            <form id="flatly-form" action="/switch_theme/flatly" method="post">
                                <a href="#" onclick="document.getElementById('flatly-form').submit();"
                                   class="dropdown-item">Flatly</a>
                            </form>
                            <form id="darkly-form" action="/switch_theme/darkly" method="post">
                                <a href="#" onclick="document.getElementById('darkly-form').submit();"
                                   class="dropdown-item">Darkly</a>
                            </form>
                            <form id="sketchy-form" action="/switch_theme/sketchy" method="post">
                                <a href="#" onclick="document.getElementById('sketchy-form').submit();"
                                   class="dropdown-item">Sketchy</a>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if about %} active {% endif %}" href="{{ url_for('about') }}">About Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item {% if messages %} active {% endif %} mr-3" data-toggle="tooltip"
                            data-placement="bottom" title="Messages">
                            <a href="{{ url_for('message.messages') }}" class="nav-link" id="msg-nav-link">
                            {% set new_messages = current_user.new_messages() %}
                                <i class="fas fa-envelope-open{% if new_messages %}-text{% endif %}"></i>
                                {% if new_messages %}
                                    <sup>
                                    <span id="message_count"
                                          class="badge badge-pill badge-{% if not session['theme'] or session['theme'] == 'litera' %}primary{% else %}secondary{% endif %}"
                                          style="visibility: {% if new_messages %}visible
                                          {% else %}hidden {% endif %};">
                                    {{ new_messages }}
                                    </span>
                                    </sup>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item {% if myprofile %} active {% endif %} mr-3" data-toggle="tooltip"
                            data-placement="bottom" title="My Profile">
                            <a href="{{ url_for('my_profile.myprofile') }}" class="nav-link"><i
                                    class="fas fa-user-cog"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('user.logout') }}" class="nav-link" data-toggle="tooltip"
                               data-placement="bottom" title="Logout">
                                <i class="fas fa-door-open"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if register %} active {% endif %}">
                            <a href="{{ url_for('user.register') }}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item {% if login %} active {% endif %}">
                            <a href="{{ url_for('user.login') }}" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <script type='text/javascript'>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        // ...
        function set_message_count(n) {
            if (n > 0) {
                $('#msg-nav-link').html("<i class='fas fa-envelope-open-text'></i> <sup> <span class='badge badge-pill badge-"
                    + "{% if not session['theme'] or session['theme'] == 'litera' %}primary{% else %} secondary{% endif %}'"
                    + "style=\"visibility: visible;\">" + n + "</span></sup>");
            } else {
                $('#msg-nav-link').html("<i class='fas fa-envelope-open'></i>");
            }
            {#$('#message_count').text(n);#}
            {#$('#message_count').css('visibility', n ? 'visible' : 'hidden');#}
        }

        {% if current_user.is_authenticated %}
            $(function () {
                var currentdate = new Date();
                var since = currentdate.getTime();
                setInterval(function () {
                    $.ajax('{{ url_for('message.notifications') }}?since=' + since).done(
                        function (notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name === 'unread_message_count')
                                    set_message_count(notifications[i].data);
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 10000);
            });
        {% endif %}

    </script>
</header>