<header>
    <nav class="navbar navbar-expand-lg fixed-top
        {% if not session['theme'] or session['theme'] == 'litera'%} navbar-light bg-light {% else %} navbar-dark bg-primary {% endif %}">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for ('index') }}">
                <img src="static/images/LF{% if not session['theme'] or session['theme'] == 'litera' %}-dark{% endif %}.svg" class="lf-logo"
                     alt="">
                &nbsp; &nbsp; Lost & Found
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item {% if uploaditem %} active {% endif %}">
                            <a href="{{ url_for ('uploaditem') }}" class="nav-link">Upload Item</a>
                        </li>
                        <li class="nav-item {% if myitems %} active {% endif %}">
                            <a href="{{ url_for ('myitems') }}" class="nav-link">My Items</a>
                        </li>
                        <li class="nav-item {% if myprofile %} active {% endif %}">
                            <a href="{{ url_for ('myprofile') }}" class="nav-link">My Profile</a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span
                                class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <form id="litera-form" action="/switch_theme/litera" method="post">
                                <a href="#" onclick="document.getElementById('litera-form').submit();"
                                   class="dropdown-item">Litera</a>
                            </form>
                            <form id="flatly-form" action="/switch_theme/flatly" method="post">
                                <a href="#" onclick="document.getElementById('flatly-form').submit();"
                                   class="dropdown-item">Flatly</a>
                            </form>
                            <form id="darkly-form" action="/switch_theme/darkly" method="post">
                                <a href="#" onclick="document.getElementById('darkly-form').submit();"
                                   class="dropdown-item">Darkly</a>
                            </form>
                            <form id="sketchy-form" action="/switch_theme/sketchy" method="post">
                                <a href="#" onclick="document.getElementById('sketchy-form').submit();"
                                   class="dropdown-item">Sketchy</a>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for ('logout') }}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if register %} active {% endif %}">
                            <a href="{{ url_for ('register') }}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item {% if login %} active {% endif %}">
                            <a href="{{ url_for ('login') }}" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>